@charset "UTF-8";

/*背景*/
body {
    height: 100vh;

     background-color: #fff; 
     background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
     linear-gradient(#eee .1em, transparent .1em);
     background-size: 100% 1.2em;
      background-attachment: fixed;
}

.button2 {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 13px 21px;   /* 余白       */
  background    : #ff7f00;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #ff7f00;    /* 枠の指定 */
}
.button2:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ff7f00;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

/*  ボックス */
.form-wrapper {
    background: #dddddd;
    margin:  auto;
    padding: 0 1em;
    max-width: 900px;
}
  
h1 {
    text-align: center;
    padding: 1em 0;
}
  
form {
    padding: 0 1.5em;
}
  
  
  
.button-panel .button {
    background: #fd9535;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
  }
  
.button:hover {
    background: #ee3e52;
}
  
.form-footer {
    font-size: 1em;
    padding: 2em 0;
    text-align: center;
}
  
.form-footer a {
    color: #4e4e4e;
    text-decoration: none;
    transition: border-color 0.3s;
}
  
.form-footer a:hover {
    border-bottom: 1px dotted #8c8c8c;
}

/*項目編集　（タイトル）*/
.label-title {
  font-size: 30px;
  text-align: center;
  max-width: 500px;
  border: solid 2px  #fffcfc;
   border-radius: 4px;
   background:  #fd9535;
   color: #fff;
}
/*項目の文字*/
.fontsize {
  font-size: 150%;
}
.btn-square-pop {
    
    border-radius: 6px;
    font-size: 70%;
    width: 8em;
    padding-top: 20px;
    padding-bottom: 20px;
    /*
    position: relative;
    display: inline-block;
    */
    padding: 0.45em 0.70em; /*ボタンサイズ*/
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
.btn-square-pop2 {
    
  border-radius: 6px;
  font-size: 100%;
  width: 8em;
  padding-top: 20px;
  padding-bottom: 20px;
  /*
  position: relative;
  display: inline-block;
  */
  padding: 0.45em 0.70em; /*ボタンサイズ*/
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
/*テキストボックス*/
.form-input {
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 40px;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  max-width: 250px;
  font-size: 18px;
}
/*TOPに飛ぶボタン*/
/*ラジオボタン*/
.radioArea input[type="radio"] {
  width         : 15pt;        /* 大きさ：横 */
  height        : 15pt;        /* 大きさ：縦 */
  vertical-align: top;         /* 並び位置   */
}
 /* --- チェックボックス直後のlabel --- */
.radioArea input[type="radio"] + label {
  padding       : 0 4px;                      /* labelの余白 */
  font-size     : 10pt;                       /* labelの文字サイズ */
  font-weight   : bold;                       /* 文字太さ   */
  border        : 2px solid rgba(255, 127, 0, 0.92); /* labelの枠線 */
  border-radius : 5px;                        /* labelの角丸 */
  background    : #ffffff;                    /* lebelの背景 */
  cursor        : pointer;                    /* カーソル設定 */
  transition    : .2s;                        /* なめらか変化 */
}
 /* --- 選択されたチェックボックス直後のlabel --- */
.radioArea input[type="radio"]:checked + label {
  background    : rgba(255, 127, 0, 0.92);                    /* lebelの背景 */
}
 /* --- 選択されていないチェックボックス直後のlabelにマウスが乗った --- */
.radioArea input[type="radio"]:not(:checked) + label:hover {
  background    : rgba(255, 127, 0, 0.40);     /* lebelの背景 */
}

.topIcon {
  display       : inline-block;
  position      : fixed;       /* ボタン固定 */
  bottom        : 20px;        /* 下から位置 */
  right         : 20px;        /* 右から位置 */
  padding       : 25px 25px;   /* 余白       */
  background    : #3e3ee0;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  opacity       : 0.5;         /* 透明度     */
  border-radius : 50%;        /* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  font-weight   : bold;        /* 太字       */
  line-height   : 1.2em;       /* 行の高さ   */
  letter-spacing: 2px;         /* 文字間隔   */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  z-index       : 999;         /* 重ね順位   */
}

.topIcon:hover {
  opacity       : 0.9;   /* カーソル時透明度 */
}

.button15 a {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 125px;
  color: #333;
  text-align:left;
  font-size: 18px;
  font-weight: 600;
  background-color: #cccccc;
  border-radius: 50vh;
  transition: 0.3s;
}

.button15 a::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 50vh;
}

.button15 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%) rotate(135deg);
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}

.button15 a:hover {
  text-decoration: none;
  background-color: #71b4ff;
}
/*項目編集　（冷蔵庫、冷凍庫、野菜室）*/
.label-title2 {
  font-size: 25px;
  text-align: center;
  max-width: 85px;
  border: solid 2px  #fffcfc;
   border-radius: 4px;
   background:  #3574fd;
   color: #fff;
}


